beautifulsoup4==4.6.0
Cheetah==2.4.4
coverage==4.4.1
dj-database-url==0.4.2
Django==1.11.3
django-app-namespace-template-loader==0.4.1
django-blog-zinnia==0.18.1
django-contrib-comments==1.8.0
django-mptt==0.8.7
django-tagging==0.4.5
django-xmlrpc==0.1.7
gunicorn==19.7.1
Markdown==2.6.6
mercurial==4.2.2
mots-vides==2015.5.11
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
pyparsing==2.2.0
pytz==2017.2
PyYAML==3.11
regex==2017.7.11
six==1.10.0
virtualenv==14.0.6
whitenoise==3.3.0
zinnia-theme-bootstrap==0.5.1

