{% extends "zinnia:zinnia/entry_detail_base.html" %}
{% load i18n zinnia %}

{% block entry-widgets %}
{% endblock entry-widgets %}

{% block entry-pingbacks %}
{% endblock entry-pingbacks %}

{% block entry-trackbacks %}
{% endblock entry-trackbacks %}

{% block entry-comments %}
{% endblock entry-comments %}

{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li class="list-group-item">
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    <span class="glyphicon glyphicon-edit"></span>
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
