{% load i18n staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>mrcornman.com</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Welcome to the website of Jonathan AKA mrcornman." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}corn, mrcornman,
    corny, django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Jonathan Lu" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/assets/css/blog.css' %}" />
    <!--[if lt IE 9]>
        <script src="{% static "blog/assets/js/html5shiv.js" %}"></script>
        <script src="{% static "blog/assets/js/respond.min.js" %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "blog/assets/ico/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "blog/assets/ico/apple-touch-icon-114-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "blog/assets/ico/apple-touch-icon-72-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static "blog/assets/ico/apple-touch-icon-57-precomposed.png" %}" />
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body class="zinnia {% block body-class %}{% endblock body-class %}">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'zinnia:entry_archive_index' %}" title="mrcornman" rel="home">
            mrcornman.com
          </a>
          <p>(my IRL name is Jonathan Lu)</p>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed">
          {% block content %}
          <div class="links">
            <h3>{% trans "Useful links" %}</h3>
            <ul>
              <li>
                <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                  {% trans "Weblog index" %}
                </a>
              </li>
              <li>
                <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                  {% trans "Sitemap" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock content %}
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="display:none;">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>
    <footer class="container">
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
